---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.jsx';
import Hero from '../components/hero.jsx';
import About from '../components/about.jsx';
---

<Layout title="Sandra Fernandes.">
	<main>
	    <Navbar client:load/>
	    <Hero client:load/>
	    <About client:load/>
	</main>
</Layout>

